@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: white;
}

.container1 {
  width: 100vw;
  height: 87vh;
  display: flex;
  flex-wrap: wrap;
}

.image {
  height: 100%;
  background: url('img/cover-img.png') center center/cover;
  flex: 0 1 45vw;
  position: relative;
}

.container3{
  display: flex;
}

.content {
  flex: 0 0 98vw;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: space-evenly;
  padding: 2rem;
  margin-top: -120%;
  
}
.content span{
  color: white;
}


.container {
  width: 450px;
  min-height: 400px;
  height: 550px;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  padding: 40px 30px;
  margin-left: 3%;
  align-items: center;

  font-family: 'Open Sans', sans-serif;
}

.container2{
      width: 450px;
      height: 5vh;
      background: #FFF;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0,0,0,.3);
      padding: 40px 30px;
      margin-left: 48%;
      align-items: center;
      margin-top: -6%;
      font-family: 'Open Sans', sans-serif;
}

.container2 .login-text{
  font-weight: bold;
  text-align: center;
  margin-top: -2%;

}

.container .login-text {
  color: #111;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  text-transform:capitalize;
  
}

.container .login-social {
  display: flex;
  /*grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  margin-bottom: 25px;*/
  margin-left: 8%;
  align-items: center;
  
}

.container .login-social a {
  padding: 12px;
  margin-right: 5px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  color: #FFF;
  transition: .3s;
  margin-bottom: 20px;

}
.or-seperator {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.or-seperator i {
  padding: 0 10px;
  background: white;
  position: relative;
  top: -11px;
  z-index: 1;
} 

.container .login-social a i {
  margin-right: 5px;
}

.container .login-social a.facebook {
  background: #4267B2;
}

.container .login-social a.twitter {
  background: #1DA1F2;
}

.container .login-social a.google-plus {
  background: #db4a39;
}

.container .login-social a.linkedin {
  background: #0e76a8;
}

.container .login-social a.facebook:hover {
  background: #3d5fa3;
}

.container .login-social a.twitter:hover {
  background: #1991db;
}

.container .login-social a.linkedin:hover {
  background: #0b5c81;
}

.container .login-email .input-group {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

.container .login-email .input-group label{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
  font-weight: bold;
}

.container .login-email .input-group input {
  width: 100%;
  height: 100%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  margin-bottom: 10px;
  background: transparent;
  outline: none;
  transition: .3s;
  height: 20px;
  flex: 0 0 200px;
  
  
}

.container .login-email .input-group input:focus,
.container .login-email .input-group input:valid {
  border-color: rgb(236, 69, 208);
}

.container .login-email .input-group .btn {
  display: block;
  width: 100%;
  padding: 0px 15px;
  text-align: center;
  border: none;
  background:rgb(236, 69, 208);
  outline: none;
  border-radius: 4px;
  font-size: 1.2rem;
  color: #FFF;
  cursor: pointer;
  transition: .3s;
  margin-top: 15%;

}

.container .login-email .input-group .btn:hover {
  transform: translateY(-5px);
  background: #6c5ce7;
}

.big-bird {
  width: 16rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
}

.small-bird {
 width: 3.5rem;
 fill: #1da1f2;
}

h1, h3 {
  color: #0f1419;
  font-weight: 900;
}

h1 {
  font-size: 5.5vw;
}

h3 {
  font-size: 2.3rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24rem;
  height: 3.3rem;
  border-radius: 10vw;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 700;
}

.btn-signup {
  background:rgb(236, 69, 208);
  color: #fff;
  transition: all .2s ease;
  margin-bottom: 20px;
}

.btn-signup:hover {
  background: rgb(236, 69, 208);
}

.btn-login {
  border: 1px solid rgb(236, 69, 208);
  color: rgb(236, 69, 208);
}

.footer {
  padding: 1rem 2%;
}

.footer nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer nav a,
.footer nav div {
  text-decoration: none;
  font-size: 13px;
  color: #536471;
  margin: .3rem .5rem;
  text-transform: capitalize;
  border-bottom: 1px solid transparent;
  transition: all .2s ease;
}
.footer p{
  text-align: center;
  font-size: 13px;
  color:#536471;
  margin: .3rem .5rem;
  border-bottom: 1px solid transparent;
}

.footer nav a:hover {
  border-bottom: 1px solid #536471;
}

@media(max-width: 750px) {
  html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}
  .container {
    order: -1;
    width: 350px;
    max-width: 350px;
    height: 75vh;
    margin: 0 auto;
    margin-bottom: 5%;
    flex:  0 0 50vw;
    
  }

  .container2 {
    order: -1;
    width: 350px;
    max-width: 350px;
    height: 5vh;
    margin: 0 auto;
    margin-bottom: 10%;
    align-items: center;
    display: flex;
  }

  .container2 .login-text{
    text-align: center;
    margin-left: 20%;
  }

  .container .login-social {
    display: flex;
    margin-left: -6%;
  }
  .container .login-social a {
    display: flex;
  }

  .image {
    height: 50vh;
    flex:  0 1 100vw;
  }

  .button {
    display: flex;
  }

  .btn {
    width: 15rem;
    margin-right: 1rem;
  }

  h1 {
    font-size: 8vw;
  }
  
  .content{
    order: -1;
    color: black;
    margin-left: 40%;
    
  }
  .content span{
    color: white;
    float: right;
  }


}

@media(max-width: 580px) {
  .container {
    margin-top: 10%;
    padding: 2rem;
    align-items: center;
  }

  .container2 {
    margin-top: 5%;
    padding: 2rem;
    align-items: center;
  }

  .button {
    flex-direction: column;
  }

  .btn {
    width: 25rem;
  }
  h1 {
    font-size: 10vw;
  }

  h3 {
    font-size: 1.7rem;
  }
}